@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

html {
  height: 100%;
}

option {
  background-color: #e5e5e5;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  color: #000000;
}

.main {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  max-width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000033;
}

.header {
  padding: 0 70px;
  display: flex;
}

.navigation {
  margin-right: auto;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 20px 16px;
}

.header-logo-link {
  padding: 0;
}

.header-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.header-link {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 22px 12px;
}

.header-button {
  padding: 8px 34px;
  background-color: #756157;
  text-decoration: none;
  display: block;
}

.header-search-icon {
  width: 44px;
}

.header-favorite-icon {
  width: 44px;
}

.welcome {
  background-image: url(../images/welcome-background-border.svg), url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-color: #787276;
  background-position: right bottom -1px, left top;
  background-size: 100%, cover;
}

.welcome-banner {
  display: block;
  margin: auto;
  padding: 51px 0 82px;
  width: 458px;
  height: 352px;
}

.welcome-content-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 69px auto 25px;
  max-width: 620px;

}

.welcome-content-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 90px;
}

.reasons-list {
  list-style: none;
  padding: 0;
  display: grid;
}


.reasons-item {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(3, 400px); */

}

.reasons-item-image {
  display: grid;
  grid-template-columns: 400px 800px;
  grid-auto-flow: column;
  grid-template-areas: "title image"
                 "description image";
  grid-column: span 3;
}

.reasons-item-description {
  margin: 30px 85px 102px;
  grid-area: description;
}

.reasons-image {
  grid-area: image;
}

.reasons-image {
  /* display: block;
  grid-column: span 2; */

}

.reasons-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  grid-area: title;
  margin: 112px 112px 30px;
  max-width: 230px;
}

.reasons-item:nth-child(2n-1) {
  background-color: #83b3d333;
}

.reasons-item:nth-child(even) {
  background-color: #83b3d31f;
}

.reasons-item:nth-child(4n+1) {
  background-color: #82b3d3;
}

.reasons-item:nth-child(4n+1) .reasons-item-title {
  color: #ffffff;
  margin: 102px 112px 30px;
}

/* .reasons-item-title {
  margin: 30px auto;
} */

.reasons-item-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  max-width: 230px;
  margin: 30px 85px 112px;
}

.reasons-item:nth-child(4n+1) .reasons-item-description {
  color: #ffffff;
  margin: 30px 85px 102px;

}

.advices-content-title {
  max-width: 505px;
}

.advices-content-description {
  max-width: 505px;
  margin: 0 auto 64px;
}

.advices-list {
  list-style: none;
  display: flex;
}

.advices-item {
  padding: 81px 85px;
  background-color: #83b3d31f;
}

.advices-item:nth-child(even) {
  background-color: #ffffff;
}

.advices-logo {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.advices-logo-housing {
  background: url(../images/advices-home-icon.svg) no-repeat;
}

.advices-logo-meal {
  background: url(../images/advices-meal-icon.svg) no-repeat;
}

.advices-logo-souvenirs {
  background: url(../images/advices-souvenirs-icon.svg) no-repeat;
}

.advices-item-title {
  margin: 30px auto;
  color: #000000;
}

.advices-item-description {
  margin: 0 auto;
  color: #333333;
}

.search {
  text-align: center;
}

.search-content-title {
  margin: 96px auto 20px;
}

.search-content-description {
  margin: 0 auto 54px;
  max-width: 592px;
}

.search-link {
  color: #ffffff;
  background-color: #756157;
  display: block;
  padding: 8px 46px;
  max-width: 376px;
  margin: 0 auto 96px;
  box-sizing: border-box;
  line-height: 36px;
}

.hotels {
  background: url(../images/hotels-background.jpg) no-repeat;
  background-color: #787276;
  background-size: cover;
  color: #ffffff;
  padding: 70px;
}

.hotels-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.hotels-breadcrumbs-list {
  margin: 8px 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.hotels-breadcrumbs-home-icon {
  padding: 7px 0;
  width: 13px;
  background: url(../images/breadcrumbs-home-icon.svg) no-repeat;
}

.hotels-breadcrumbs-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.hotels-breadcrumbs-arrow {
  background: url(../images/breadcrumbs-arrow.svg) no-repeat;
  padding:11px 0;
  width: 8px;
}

.hotels-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.hotels-form-set {
  margin: 0;
  border: none;
  padding: 0;
}

.hotels-input {
  margin: 0 0 8px;
}

.hotels-input-set {
  display: flex;
  margin: 0;
}

.hotels-form-housing {
  /* display: flex;
  flex-direction: column; */
}

.hotels-form-caption {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 32px;
}

.hotels-form-cost {
  padding: 0 0 0 70px;
}

.hotels-form-input {
  margin: 0;
}

.hotels-form-input-cost {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
}

.hotels-form-input::placeholder {
  text-align: end;
}

.hotels-label {
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 16px 16px;
}

.hotels-button-set{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 56px 0 0;
}

.hotels-form-button {
  padding: 8px 50px;
}

.hotels-form-reset-button {
  background-color: transparent;
  padding: 8px 50px;
}

.catalog {
  background-color: #ffffff;
}

.catalog-head {
  display: flex;
  margin: 50px 70px 40px;
}

.catalog-grid{
  margin: 40px 70px 80px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.catalog-content-title {
  font-size: 30px;
  line-height: 36px;
  text-align: start;
  margin: 0 auto 0 0;
}

.catalog-number {
  font-size: 30px;
  line-height: 36px;
  text-align: start;
  font-weight: 700;
}

.catalog-filter {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  margin: 0 40px 0 0;
  border: solid 2px #e5e5e5;
  padding: 14px 131px 14px 20px;
}

.catalog-view-button:last-child {
  margin: 0;
}

.catalog-view-button {
  border: solid 2px #e5e5e5;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 16px;
  margin-right: 8px;
}

.catalog-view-button-selected {
  color: inherit;
  text-decoration: none;
  border: solid 2px #000000;
}

.catalog-view-button-normal {
  background: url(../images/catalog-view-button-normal.svg) no-repeat center center;
}

.catalog-view-button-one {
  background: url(../images/catalog-view-button-one.svg) no-repeat center center;
}

.catalog-view-button-list {
  background: url(../images/catalog-view-button-list.svg) no-repeat center center;
}

.catalog-card {
  padding: 20px;
}

.catalog-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
}

.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.catalog-card-grid span {
  text-align: end;
}

.catalog-card-more-button {
  display: block;
  padding: 8px 26px;
  background-color: #756157;
}

.catalog-card-favorite-button-selected {
  background-color: #7db54f;
}

.catalog-card-rating {
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 22px;
  margin: 0;
}

.pagination {
  padding: 40px 70px 60px;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  text-align: center;
  min-width: 60px;
  max-height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-item-current {
  background-color: #f2f2f2;
}

.pagination-item-ellipsis {
  background: transparent;
}

.pagination-ellipsis {
  font-size: 22px;
  line-height: 26px;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  padding: 12px 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
}

.subscribe {
  padding: 96px 0 104px;
  background-color: #787276;
  background-image: url(../images/subscribe-background.png);
  color: #ffffff;
  text-align: center;
}

.subscribe-content-title {
  padding: 0 0 20px;
  margin: 0 auto;
}

.subscribe-content-description {
  max-width: 475px;
  margin: 0 auto 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.subscribe-input {
  width: 452px;
  height: 52px;
  padding: 14px 20px;
  box-sizing: border-box;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
}

.subscribe-catalog {
  background: transparent;
  color: #000000
}

.subscribe-catalog-content-description {
  color: #333333;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social {
  list-style: none;
  font-weight: 700;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-social-link {
  width: 47px;
  height: 40px;
}

.footer-social-vk {
  background: url(../images/footer-social-vk.svg) no-repeat center center;
}

.footer-social-tg {
  background: url(../images/footer-social-tg.svg) no-repeat center center;
}

.footer-social-youtube {
  background: url(../images/footer-social-youtube.svg) no-repeat center center;
}

.footer-link {
  text-decoration: none;
  color: #000000;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
}

.footer-copyright-link {
  font-weight: 700;
}

.footer-copyright-logo {
  /* background-image: url(../images/footer-copyright-logo.svg);
  width: 115px;
  height: 33px; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
